<app-player [game]="game" [gameId]="gameId" class="hide--desktop"></app-player>
<!-- <app-player-mobile [game]="game" class="player-mobile hide--mobile flex"></app-player-mobile> -->

<div class="field flex">
  <div class="stack card-size">
    <img
      *ngFor="let c of [0, 1, 2, 3]; let i = index"
      [ngStyle]="{ 'left.px': -5 * i }"
      class="card"
      src="assets/img/playing_cards/card_cover_blue.png"
    />
    <img
      src="assets/img/playing_cards/card_cover_blue.png"
      class="top-card card-size"
      [class.top-card--hover]="!game.cardPicked"
      (click)="takeCard()"
    />
    <img
      *ngFor="let card of game.playedCards"
      class="played-card card-size"
      src="assets/img/playing_cards/{{ card }}.png"
    />

    <!-- -----------  TAKE CARD ANIMATION  ----------- -->
    <div *ngIf="game.cardPicked" class="transform__outer-container card-size">
      <div
        class="transform__inner-container card-size"
        [class.card-picked]="game.cardPicked"
      >
        <div class="card__cover card-size">
          <img class="card" src="assets/img/playing_cards/card_cover_blue.png" />
        </div>
        <div class="card__face card-size">
          <img
            class="card"
            src="assets/img/playing_cards/{{ game.currentCard }}.png"
          />
        </div>
      </div>
    </div>
  </div>
  <app-actions *ngIf="game.currentCard" [currentCard]="game.currentCard" class="game-actions"></app-actions>
  <button class="btn-add" mat-fab color="primary" (click)="openDialog()">
    <span class="material-icons"> add </span>
  </button>
</div>