<h1 mat-dialog-title>Edit Player</h1>
<h2 mat-dialog-title>Choose your profile picture</h2>

<div class="picture-container flex">
  <img
  [mat-dialog-close]="picture"
    *ngFor="let picture of profilePictures"
    src="assets/img/profile/{{ picture }}"
    class="profile-picture"
  />
</div>
<div mat-dialog-actions class="edit-profile-btns flex">
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-button [mat-dialog-close]="'delete'" cdkFocusInitial>Delete Player</button>
</div>
