*{
 margin: 0;
 box-sizing: border-box;
}

.flex{
 display: flex;
 justify-content: center;
 align-items: center;
}

button{
 cursor: pointer;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media (max-width: 850px) {
 .hide--desktop{
   display: none;
 }
}
@media (min-width: 850px) {
 .hide--mobile{
   display: none;
 }
}